@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #222;
  background-color: #fff2e5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color:transparent;
  cursor: pointer;
  border: 1 px solid #e8f6ea;
  outline: none;
  transition: 0.2s;
}
body {
  width: 100%;
}

/* Home Page*/

#header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0; 
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: rgb(35, 83, 122);
  transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active { 
  color: blue;
  

}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#close {
  display: none;
}

#mobile{
display: none;
align-items: center;
}

#close{
  display: none;
}

#hero{ 
  background-image: url("img/Desktop - 2.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 40% right 0%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;
  color:  rgb(34, 102, 141);
}
#hero h1{
  color: rgb(255, 250, 221);

}
#hero h2{
  color: rgb(255, 250, 221);
}
#hero p{
  color: rgb(34, 102, 141);
}
#hero button{
  background-image: url("img/Botton.png");
  background-color: transparent;
  color: rgb(34, 102, 141);
  border: 0;
  padding: 14px 80px 14px 40px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;

}
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature .section p1 {
  padding: 40px 100px;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px #00000008;
  border: 1px solid #22668D;
  border-radius: 4px;
  margin: 15px;

}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 0221, 0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: rgb(34, 102, 141);
  background-color: #FFCC70;

}
#feature .fe-box:nth-child(2) h6 {
  background-color: #FFCC70;
}
#feature .fe-box:nth-child(3) h6 {
  background-color: #FFCC70;
}
#feature .fe-box:nth-child(4) h6 {
  background-color: #FFCC70; 
}
#feature .fe-box:nth-child(5) h6 {
  background-color: #FFCC70;
}
#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
width: 23%;
min-width: 250px;
padding: 10px 12px;
border: 0.75px solid #e6e6e6;
border-radius: 25px;
cursor: pointer;
box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
margin: 15px 0;
transition: 0,2s ease;
position: relative;

}

#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span{
  color: #4a62a7;
  font-size: 12px; 
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1e2025;
  font-size: 14px; 
}
#product1 .pro .des i{
  font-size: 12px;
  color: #ffdd1b;
}
#product1 .pro .des h4{
padding-top: 7px;
font-size: 15px;
font-weight: 700;
color: #4a62a7;
}
#product1 .pro .cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500px;
  color: #00d358;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff2e5;
  font-size: 16px;
}
#banner h2{
  color: #fff2e5;
  font-size: 30px;
  padding-bottom: 10px 0 ;
}
  #banner h2 span{
    color: #d60303;
    
}
#banner button:hover{
  background: #4a62a7;
  color: #d19a24;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  background-image: url(img/banner/b17.jpg);
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding-left: 30px;
}

#sm-banner .banner-box2{
  background-image: url(img/banner/b10.jpg);

}
#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
  background-color: #4a62a7;
  border: 1px solid #4a62a7;
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding-left: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box2{
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3{
  background-image: url(img/banner/b18.jpg);
}
#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;

}
#banner3 h3{
  color: #f02d2d;
  font-weight: 800;
  font-size: 15px;

}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter h4{
font-size: 22px;
font-weight: 700;
color: #fff;
}
#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
  }
  #newsletter p span{
    color: #ffdb39;
  }
  #newsletter .form{
    display: flex;
    width: 60%;

  }
  #newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 80%;
    border: 1px transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  #newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nonwrap;
    padding: 0 1.25em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }
  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo {
    margin-bottom: 30px;
  

  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }

  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }

  footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
   margin-bottom: 10px;
  }
  
footer .Follow{
  margin-top: 20px;
}
footer .Follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .Install .row img {
  border: 1px solid #4a62a7;
  border-radius: 6px;
}
footer .Install .img{
  margin: 10 px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #041e42;
  
}
footer .copyright{
  width: 100%;
  text-align: center;
}

#lg-bag{
  display: none;
}

#hero {

  height: 70vh;
  padding: 0 80px;
  background-position: top 30% right 30%;
  
}

#feature {
  justify-content: center;
  
}
#feature .fe-box {
  margin: 15px 15px;
}

#product1 .pro-container {
  justify-content: center;
  
}
#sm-banner .banner-box {

  min-width: 100%;
  height: 30vh;
 
}
#banner3 {
  padding: 0 40px;
}
#banner3 .banner-box {
  width: 28%;
}
 

/* Shop Page*/
#page-header {
  background-image: url(img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: #fff;
}



#pagination {
  text-align: center;
}

#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}


/* Single Product */
#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .singe-pro-details {
  width: 50%;
  padding-top:30px ;
}

#prodetails .singe-pro-details h4{
  padding: 40px 0 20px 0;
}

#prodetails .singe-pro-details h2{
  padding: 25px;
}

#prodetails .singe-pro-details select {
  display: block;
  padding: 5px 10px;
  margin-bottom:10px ;
}

#prodetails .singe-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#prodetails .singe-pro-details input:focus{
  outline: none;
}

#prodetails .singe-pro-details button{
  background-color: #088178;
  color: #fff;
}

#prodetails .singe-pro-details span {
  line-height: 25px;
}

/* Blog page */
#page-header.blog-header{
  background-image: url(img/banner/b19.jpg);
}

#blog {
  padding: 150px 150px 0 150px;
}

#blog .blog-box{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}

#blog .blog-img{
  width: 50%;
  margin-right: 40px;
}

#blog img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#blog .blog-details {
  width: 50%;
}

#blog .blog-details a{
  text-decoration: none;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after{
  content: "";
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 4px;
  right: -60px;
}

#blog .blog-details a:hover{
  color: blue;
}

#blog .blog-details a:hover::after{
  background-color: blue;
}

#blog .blog-box h1{
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9c9c9;
  z-index: -9;
}

/* About page */

/* Contact page */


/* Responsif */

@media (max-width:799px) {
  .section-p1 {
    padding: 40px 40px;
}
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
    padding: 80px 0 0 10px;
    transition: 0.3s;


}
#navbar.active{
  right: 0px;

}
#navbar li{
  margin-bottom: 25px;
}
}


@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
} #header {
    padding: 10px 30px
  }
  h1 {
    font-size: 38px;
  
}
  h2 {
    font-size: 32px;
   
}
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #feature {
    justify-content: space-between;
}
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
}
#product1 .pro {
  width: 100%;
}
#sm-banner .banner-box2 {
  margin-top: 20px;
}
#banner3 {
  padding: 0 20px;
}
#banner3 .banner-box {
  width: 100%;
}
#newsletter .form {
  width: 100%;
}
#mobile{
  display: flex;
  align-items: center;
}
#mobile i{
  color: #1e2025;
  font-size: 24px;
  padding-left: 20px;
}
#close{
  display: initial;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #1e2025;
  font-size: 24px;
}
#lg-bag {
  display: none;
}

/* Details */
#prodetails {
  display: flex;
  flex-direction: column;
}
#prodetails .single-pro-image {
  width: 100%;
  margin-right: 0px;
}
#prodetails .singe-pro-details {
  width: 100%;
}

/* Blog page */
#blog{
  padding: 100px 20px 0 20px;
}
#blog .blog-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#blog .blog-img{
  width: 100%;
  margin-right: 0px;
  margin-bottom: 30px;
}
#blog .blog-details {
  width: 100%;
}
}